@model Product

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Novo Produto</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="p-0"></label>
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text">R$</span>
                    <input asp-for="Price" class="form-control" />
                    <span class="input-group-text">,00</span>
                </div>
             <span asp-validation-for="Price" class="text-danger"></span>
        </div>

            <div class="mb-3">
                <label asp-for="CategoryId" class="p-0"></label>
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select">
                    <option disabled selected>--Selecione a Categoria--</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

        <div class="mb-3">
            <label asp-for="Description" class="p-0"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-6">
                <button type="submit" class="btn btn-primary form-control">Criar</button>
            </div>
            <div class="col-6 col-md-6">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">
                    Voltar
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
